    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Murriel</h2>
                <!--<p>Murriel<br /> -->
                <em>Proper Noun</em></p>
                <p>1. <em>(Bio)</em> Idealist, optimist, lapsed writer, surfer, beach bum, tinkerer. Loves print magazines and good music, slightly obsessed with notebooks.
                <p>2. <em>(Tech)</em> IT Director in the manufacturing industry. Background spans infrastructure, systems, networks, databases. Happenstance coder, former entrepreneur, technology enthusiast. Believes in work-life integration, balance is a mystery.
                <p>3. <em>(Community)</em> Perennial volunteer, occasional community organizer. Passionate about the Los Angeles tech community and encouraging girls to pursue interests in Science, Technology, Engineering, [Arts] and Math (STEAM).</p>
              See also:
              <a href="http://www.murrielgrace.com/blog">weblog</a>
            </div>
        </div>
    </section>
