    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Welcome, traveler!</h1>
                        <p class="intro-text">
                        We shall not cease from exploration, and the end of all our exploring will be to arrive where we started and know the place for the first time.
                        -T. S. Eliot
</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
