<!-- Media Section -->
<section id="media" class="container content-section text-center media-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 media-text">
            <h2>Media</h2>
            <div style="height:50px"></div>

            Various press links and articles:
            <a href="http://www.kcrw.com/news-culture/shows/which-way-la/how-silicon-beach-can-attract-and-keep-women-in-tech" target="_blank">KCRW - Which Way LA: How Silicon Beach can Attract and Keep Women in Tech</a>
            <br />
            <a href="https://medium.com/faces-of-women-in-tech/a-pioneer-woman-in-tech-murriel-grace-perez-girls-in-tech-los-angeles-377644297d1e" target="_blank">Medium: Faces of Women in Tech</a>
            <br />
            <a href="http://blog.fulbrightonline.org/faces-of-southern-tech-women/" target="_blank">Fulbright Student Blog: Faces of Southern Tech Women</a>
            <br />
            <a href="http://www.latimes.com/tn-blr-teams-compete-in-hackathon-20140506-story.html" target="_blank">LA Times: Burbank Game+Hack Hackathon</a>
            <br />
            <a href="https://www.youtube.com/watch?v=jU2xRqYE4HA" target="_blank">Youtube: Student Documentary<a>
            <br />
            <a href="http://www.theinshow.com/digital/WomenInTech-LA.html" target="_blank">The In Show: Women in Tech @ GA LA</a>
            <br />
            <a href="http://www.asugnews.com/article/asug-business-one-summit-day-2-wrap-up-focused-on-the-customer" target="_blank">ASUG News: Customer Panel</a>
            <br />
            <a href="http://www.technovationchallenge.org/girl-tested-mother-approved-collaborating-los-angeles/" target="_blank">Technovation LA: Girl Tested, Mother Approved</a>
            <br />
            <a href="http://hackerpublicradio.org/eps.php?id=1747" target="_blank">Hacker Public Radio: SCaLE 13x</a>
            <br />
            <a href="http://fossforce.com/2015/02/scale-13x-in-pictures" target="_blank">FOSS Force: SCaLE 13x</a>
            <br />
            <a href="http://www.culvercitynews.org/printable/girls-in-la-rock-the-tech-for-social-media-w-eek-at-" target="_blank">Culver City News: Girls in Tech LA</a>
            <br />
          <div>
      <div style="height:75px"></div>
    </div>

</section>
