    <!-- Projects Section -->
    <section id="projects" class="content-section text-center">
      <div class="projects-section">

        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Projects</h2>
                <div class="projects-text">
                <p>#1: Finishing this website. Estimated progress: 70 % complete.<br />
                Come back soon! Frequent iterations in progress.</p>

                <h3>Community | Volunteer</h3>
                <p>
                  <em>Present</em><br />
                  Volunteer for Meetup Events Committee, <a href="http://www.diygirls.org" target="_blank">DIY Girls</a><br />
                  <a href="http://www.steminla.org" target="_blank">STEM in LA</a> volunteer / organizer<br />
                  Co-Founding Contributor, <a href="http://lafemtech.github.io" target="_blank">LA Fem Tech</a> (in progress)<br />
                  <p></p>
                </p>
                <p>
                  <em>Past</em><br />
                  Managing Director of <a href="http://www.girlsintechla.org" target="_blank">Girls in Tech, Los Angeles</a><br />
                  Coach, <a href="http://railsgirls.com/la" target="_blank">RailsGirls LA</a> 2015<br />
                  Winning team at Burbank Game + Hack Hackathon, <a href="https://www.hackerleague.org/hackathons/burbank-game-plus-hack/hacks/youth-act-on-it" target="_blank">Youth Act On It</a> [<a href="https://github.com/creactiviti/youth-act-on-it" target="_blank">Github</a>]<br />
                  Participant, <a href="http://equalfutures.devpost.com/" target="_blank">Equal Futures App Challenge</a>: <a href="https://github.com/leadherforward/leadherforward" target="_blank">Lead Her Forward</a><br />
                  Project Leader, Read to Kids Inland Empire, kids reading program through <a href="http://www.handsoninlandempire.org" target="_blank">HOIE</a>.<br />
                  Senior Photo Editor & Staff Writer, <a href="http://www.wonkavisionmagazine.com" target="_blank">Wonka Vision Magazine</a><br />
                  (Once upon a time) Writer for an <a href="https://books.google.com/books?id=OvBnBwAAQBAJ&printsec=frontcover#v=onepage&q=murriel&f=false" target="_blank">Encyclopedia/Textbook</a> that was finally published (online) in 2015.<br />
                  Columnist, Stories of the Strange random oddities <a href="http://www.canyon-news.com" target="_blank">Canyon News</a>
                  (Samples
                  <a href="http://canyon-news.com/artman2/publish/Stories_of_the_Strange_1181/article_4237.php" target="_blank">here</a>,
                  <a href="http://canyon-news.com/artman2/publish/Stories_of_the_Strange_1181/article_4237.php" target="_blank">here</a>,
                  and <a href="http://www.canyon-news.com/artman/publish/article_4138.php" target="_blank">here</a>).
                </p>
                <p></p>
                <h3>Current projects | interests | goals</h3>
                <em>
                  A few items on a rather long list of pending projects and interests... details to be added in the coming months.
                </em>
                <p></p>
                <p>Ramping up on all things DevOps and InfoSec<br />
                  Experimenting with <a href="http://jekyllrb.com" target="_blank">Jekyll</a>, the Ruby-based static site generator<br />
                  Improving my soldering skills<br />
                  Arduino | Raspberry Pi II | Demoscene Projects<br />
                  <!-- Transmedia Storytelling<br /> -->
                  Productivity & Flow<br />
                  LA Tech Community<br />
                  Girls | Youth Tech Mentorship
                </p>
              </div>
            </div>
        </div>
      </div>
    </section>
