    <!-- Projects Section -->
    <section id="projects" class="container content-section text-center projects-section">

            <div class="col-lg-8 col-lg-offset-2">
              <div class="projects-text">
                <h2>Projects</h2>
                <p>
                  <em>Community and Volunteer</em>
                  <ul class="listtext">
                      <li>Co-Organizer, <a href="http://longbeachcraftday.com/" target="_blank">Long Beach Craft Day</a></li>
                      <li>Co-Founding Contributor, <a href="http://femtech.la" target="_blank">LA Fem Tech</a></li>
                      <li>Past volunteer for Meetup Events Committee, <a href="http://www.diygirls.org" target="_blank">DIY Girls</a></li>
                      <li>STEM in LA Past volunteer / organizer</li>
                      <li>Past Managing Director of <a href="https://losangeles.girlsintech.org/" target="_blank">Girls in Tech, Los Angeles</a></li>
                      <li>Coach, <a href="http://railsgirls.com/la" target="_blank">RailsGirls LA</a> 2015<br /></li>
                      <li>Winning team at Burbank Game + Hack Hackathon, <a href="https://www.hackerleague.org/hackathons/burbank-game-plus-hack/hacks/youth-act-on-it" target="_blank">Youth Act On It</a> [<a href="https://github.com/creactiviti/youth-act-on-it" target="_blank">GitHub</a>]<br /></li>
                      <li>Participant, <a href="http://equalfutures.devpost.com/" target="_blank">Equal Futures App Challenge</a>: <a href="https://github.com/leadherforward/leadherforward" target="_blank">Lead Her Forward</a></li>
                      <li>Project Leader, Read to Kids Inland Empire, kids reading program through <a href="http://www.handsoninlandempire.org" target="_blank">HOIE</a></li>
                      <li>Senior Photo Editor & Staff Writer, <a href="http://www.wonkavisionmagazine.com" target="_blank">Wonka Vision Magazine</a></li>
                      <li>Contributing Writer, <a href="https://books.google.com/books?id=OvBnBwAAQBAJ&printsec=frontcover#v=onepage&q=murriel&f=false" target="_blank">Asian American History and Culture: An Encyclopedia</a></li>
                      <li>Columnist, Stories of the Strange, <a href="http://www.canyon-news.com" target="_blank">Canyon News</a></li>
                </ul>
                </p>
                <p><em><a href="https://read.murrielgrace.com/pages/now/" target="_blank">Check out my <i>NOW</i> list!</a></em></p>
                <p></p>
                <p><em>For a long read, here is a list of <a href="http://www.murrielgrace.com/m/">Professional Projects.</a></em></p>
                <p></p>
                <ul class="listtext">

                </p>
              </div>
        </div>

    </section>
