    <!-- Speaking Section -->
    <section id="speaking" class="container content-section text-center speaking-section">
        <div class="col-lg-8 col-lg-offset-2 speaking-text">
            <h2>Speaking</h2>
            <p>Available for speaking engagements upon request. One of my goals for the next year is to present a technical talk at a conference or event and have a successful live demo.
            </p>
            <h3>Previous Talks</h3>
            <p>
              <ul class="listtext">
                <li>Panel Moderator, Silicon Beach Fest 2015: Changing the Ecosystem <br /><em>Women in Tech, Actionable Advice for Change</em></li>
                <li>Panel Moderator, Wonder Women Tech: Tech Careers Panel 2015</li>
                <li>USC Fireside Chat with Lina Chen of Nix Hydra Games 2014</li>
                <li>Panelist, Silicon Beach Fest 2012: Women Developers</li>
                <li>STEM in LA Mixer 2012: Guest Speaker - STEM for Everyone
            </ul>
            </p>
        </div>
    </section>
