    <!-- Speaking Section -->
    <section id="speaking" class="container content-section text-center speaking-section">
        <div class="col-lg-8 col-lg-offset-2 speaking-text">
            <h2>Speaking</h2>
            <p>Available for speaking engagements upon request. More details and slides are <a href="https://read.murrielgrace.com/pages/talks/">on the other side</a>
            </p>
            <h3>Previous Talks</h3>
            <p>
              <ul class="listtext">
                <li>Speaker, Pasadena Python: Lightning Talk - Python in the time of Corona 2020</li>
                <li>Speaker, Southern California Linux Expo: DevOps Secrets Management 2020</li>
                <li>Speaker, Women's Voices in Tech Meetup: DevOps from the Ground Up 2019</li>
                <li>Speaker, KubeCon StackRox Booth 2019: Cloud Native Security Discussion</li>
                <li>Panelist, Girls Build LA + LAUSD/USC Media Arts & Engineering Magnet High School: Tech Careers Panel 2019</li>
                <li>Speaker, Southern California Linux Expo: Self-Care for Systems at Any Scale 2019</li>
                <li>DevChat Speaker, AWS LA Summit: Elasticsearch for Beginners 2018</li>
                <li>Panel Moderator, Silicon Beach Fest: Changing the Ecosystem 2015 <br /><em>Women in Tech, Actionable Advice for Change</em></li>
                <li>Panel Moderator, Wonder Women Tech: Tech Careers Panel 2015</li>
                <li>USC Fireside Chat with Lina Chen of Nix Hydra Games 2014</li>
                <li>Panelist, Silicon Beach Fest 2012: Women Developers</li>
                <li>STEM in LA Mixer 2012: Guest Speaker - STEM for Everyone
            </ul>
            </p>
        </div>
    </section>
