    <!-- Speaking Section -->
    <section id="speaking" class="content-section text-center">
        <div class="speaking-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Speaking</h2>
                    <p class="speaking-text">Available for speaking engagements upon request. One of my goals for the next year is to present a technical talk at a conference or event and have a successful live demo.
                    </p>
                    <h3>Previous Talks</h3>
                    <p class="speaking-text">
                    Panel Moderator, Silicon Beach Fest 2015: Changing the Ecosystem - Women in Tech, Actionable Advice for Change<br />
                    Panel Moderator, Wonder Women Tech: Tech Careers Panel<br />
                    USC Fireside Chat with Lina Chen of Nix Hydra Games<br />
                    Panelist, Silicon Beach Fest 2012: Women Developers<br />
                    STEM in LA Mixer 2012: Guest Speaker - STEM for Everyone
                    </p>

                </div>
            </div>
        </div>
    </section>
